{% extends 'admin/index.html' %}
{% block title %} Manage Products {% endblock %}
{% block admin_content %}
    <div class="d-flex justify-content-between">
        <h5>Manage Products</h5>
        <a class="btn btn-success" href="{{ url_for('admin.upsert_product', prodId=0) }}">Insert Product</a>
    </div>
    <br>
    <table id="products-table" class="display" style="width:100%">
        <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% include 'admin/includes/delete_modal.html' %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-outline-success m-1"
                       href="{{ url_for('admin.upsert_product', prodId=product.id) }}">Edit</a>
                    <button class="btn btn-outline-danger m-1" data-toggle="modal"
                            data-target="#productDeleteModal-{{ product.id }}">Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block admin_scripts %}
    <script>
        $(document).ready(function () {
            $('#products-table').DataTable({
                "columns": [
                    {"width": "5%"},
                    {"width": "30%"},
                    {"width": "16%"},
                    {"width": "16%"},
                    {"width": "8%"},
                    {"width": "25%"},
                ],
                "stateSave": true
            });
        });
    </script>
{% endblock %}