{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <h2>Hello World</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis commodi dolorum exercitationem
            labore maxime odit perspiciatis! Accusantium eius eligendi facere maiores molestias omnis quae quibusdam
            rerum
            sed, vel. Accusantium aliquid consectetur consequuntur, dolores eius, eligendi id illum labore laboriosam
            molestiae nihil non perspiciatis placeat provident qui, soluta totam veniam?</p>
    </div>
{% endblock %}