<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if products.has_prev %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('products.index', page=products.prev_num, brand=brand) }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">&laquo;</a>
            </li>
        {% endif %}

        {% for page_num in products.iter_pages(left_edge=2, left_current=1, right_current=2,  right_edge=1) %}
            {% if page_num %}
                {% if page_num == products.page %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page_num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ url_for('products.index', page=page_num, brand=brand) }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link">...</a></li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li class="page-item">
                <a class="page-link"
                   href="{{ url_for('products.index', page=products.next_num, brand=brand) }}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>