{% extends 'layout.html' %}
{% block title %} Products {% endblock %}
{% block content %}
    <!--
    @author: David Miller
    https://github.com/StartBootstrap
     -->
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="POST" class="mt-4">
                    {{ search_form.hidden_tag() }}
                    <div class="form-row justify-content-end align-items-end">
                        <div class="input-group col-lg-9">
                            {{ search_form.search_query(class="form-control", placeholder='Search') }}
                            <div class="input-group-append">
                                <button id="submit" name="submit" type="submit" class="btn btn-primary px-4">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h3 class="my-4">Popular Brands</h3>
                <div class="list-group">
                    {% for item in brands %}
                        {% if item.brand == brand %}
                            <a class="list-group-item active"
                               href="{{ url_for('products.index', brand=item.brand) }}">{{ item.brand }}</a>
                        {% else %}
                            <a class="list-group-item"
                               href="{{ url_for('products.index', brand=item.brand) }}">{{ item.brand }}</a>
                        {% endif %}
                    {% endfor %}
                    <a class="list-group-item"
                       href="{{ url_for('products.index') }}"><strong>Show All</strong></a>
                </div>
            </div>
            <div class="col-lg-9">
                {% if products.page == 1 %}
                    {% include 'product/includes/carousel.html' %}
                {% endif %}
                <div class="row my-4">
                    {% for product in products.items %}

                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top product-image"
                                                 src="{{ url_for('static', filename='img/uploads/product_images/'
                                                  + product.product_image) }}"
                                                 alt="product image for {{ product.name }}"
                                                 style="max-height: 200px; object-fit: contain"/></a>
                                <div class="card-body">
                                    <h4 class="card-title"><a href="#">{{ product.name }}</a></h4>
                                    <h5>${{ product.price }}</h5>
                                    <p class="card-text"
                                       style="height: 100px; overflow: hidden; text-overflow: ellipsis;">{{ product.description }}</p>
                                </div>
                                <div class="card-footer"><a class="btn btn-sm btn-success">Add to Cart</a></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'product/includes/pagination.html' %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}